.form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #ECF0F1;
    color: #2C3E50;
}

.form-style-6 h1 {
    background: #E74C3C;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.a,
.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #E74C3C;
    border-bottom: 4px solid #A74C3E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
    background: #E00C0F;
}

a:active, a:hover, a:visited, a:link {
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #E74C3C;
    border-bottom: 4px solid #A74C3E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}